[options]
addons_path = /var/www/html/odoo_league/custom_addons,/var/www/html/odoo_league/odoo/addons
admin_passwd = admin
csv_internal_sep = ,
db_host = False
db_name = league_debug
db_password = tieungao123
db_user = tieungao

#Change the data directory
data_dir = /var/www/html/odoo_league/filestore
without_demo = all


#Configure the logging handlers

list_db = False
log_db = True
log_db_level = debug
log_handler = :DEBUG
log_level = debug

logfile = /var/www/html/odoo_league/odoo.log
logrotate = True

#Configure Odoo to run with workers (only work with --log-file=syslog)
workers = 0
# limit_memory_hard: 4GB
limit_memory_hard = 4294967296
# limit_memory_soft: 640MB
limit_memory_soft = 671088640
limit_request = 8192
limit_time_cpu = 120
limit_time_real = 300

#Only listen on the local network interface
http_interface = 127.0.0.1