[Unit]
Description=Odoo 11.0
After=postgresql.service
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/html/odoo_league
ExecStart=/root/Env/odoo_league/bin/python3 /var/www/html/odoo_league/odoo/odoo-bin -c /var/www/html/odoo_league/odoorc "$@"
[Install]
WantedBy=multi-user.target