[Unit]
Description=Odoo 11.0
After=postgresql.service
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/html/odoo_league
ExecStart=/var/www/html/odoo_league/deploy/start-odoo
[Install]
WantedBy=multi-user.target